body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin: 0;
  background-color: #f0f0f0;
}

.lolik {
  width: 100px;
  height: 100px;
  background-color: #3498db;
  transition: border-radius 1.5s;
}

.lolik:hover {
  border-radius: 50%;
}
